doctype html
head
	title Eolas
	link(rel='stylesheet', href='styles/styles.css')
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
	h1 Eolas
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")
	script(src='/js/script.js')